table, td, th{
    border-bottom: 2px solid;
    border-collapse: collapse;
    border-color: rgb(190, 252, 233);
    margin: auto;
}

table{
    width: 80%;
    font-size: 20px;
    padding: 10px 30px;
}

td, th{
    padding: 10px;
}

th{
    background-color: dodgerblue;
    color: white;
}

tr:nth-child(even){
    background-color:lightgrey;
}

tr:hover{
    background-color: darkgrey;
}

caption{
    font-size: 30px;

}